@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")

:root{
    box-sizing: border-box;
 }

 *, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 }

 body{
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
 }
 .btn{
  font-size: inherit;
  background-color: #f1f1f1;
  border: none;
  margin: 0.7em;
  padding: 0.3em 0.6em;
  border-radius: 0.4em;
 }
 .btn:hover{
  filter: brightness(80%);
 }
 .btn:focus{
  outline: none;
 }
