:root{
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
}
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    background-color: rgb(241, 181, 127);
}
label, input{
    display: block;
}

.container{
    position: relative;
    display: flex;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    width: 80vw;
    height: 80vh;
    border-radius: 0.8em;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgb(0, 0, 0);

    

    .login{
        width: 50%;
        height: 100%;
        background-image: url("../beach-wave.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 3.0em;

        h2 {
            padding-bottom: 2em;
        }
        
        button{
            padding: 1em 2em;
            border: none;
            border-radius: 1.5em;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
    .signup{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: pink;
        padding-top: 1.5em;
        
        h2{
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            align-self: flex-start;
            width: 70%;
            padding-left: 3em;

            // label{
            //     padding-bottom: 0.4em;
            // }
            input{
                margin-bottom: 1em;
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                background-color: pink;
                padding: 0.5em 0 0.5em 0.5em;
                font-size: 0.7rem;

                &:focus{
                    outline: none;
                }
            }
        }
        div{
            text-align: center;
            // margin-top: 2em;
            width: 100%;
            button{
                padding: 0.5em 4em;
                border: none;
                border-radius: 1.5em;
                background-color: red;
                font-size: 1rem;
                color: white;
            }
        }
        p{
            text-align: center;
            padding-top: 1.3em;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;

            li{
                display: block;
                padding: 1em 2em;
                margin-top: 1em;
                // background-color: blue;
                border-radius: 0.5em;

                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        
    }
}
@media screen and (max-width: 1200px){
        .container{
            flex-direction: column-reverse;

            .login{
                width: 100%;
                height: 30%;
            }
            .signup{
                    width: 100%;
                    height: 70%;


            }
        }
}